.Loader {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 7px solid green;
  border-top: 7px solid yellow;
  border-radius: 100%;
  animation: rot 0.5s linear infinite;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
