.Form {
  max-width: 500px;
  max-height: 300px;
  padding: 30px;
  margin: 0 auto;
  color: var(--clr-black);
  background-color: var(--clr-blue);
  border-radius: 5px;
  box-shadow: 2px 2px 2px var(--clr-blue);
}

.Form h2 {
  font-size: 2.5em;
  margin: 10px 0;
  font-weight: bold;
  text-align: center;
}

.Input {
  padding: 15px;
  margin: 10px 0;
  background-color: var(--clr-black);
  color: var(--clr-blue);
  border: none;
  border-radius: 30px;
  width: 100%;
  font-size: 1.75em;
  outline: none;
}

.Input:focus {
  outline: none;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.Button {
  width: 50%;
  margin: 10px 0;
  height: auto;
  padding: 10px;
  background-color: var(--clr-orangered);
  outline: none;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.Button a {
  font-size: 1.65rem;
  font-weight: bold;
  color: var(--clr-black);
}
