.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  flex: 1;
  color: var(--clr-wheat);
  min-height: 10vh;
  /* border: 2px solid rebeccapurple; */
  background-color: rgba(0, 0, 0, 0.5);
  transition: ease-in-out;
}

.sticky {
  position: fixed;
  transition: ease-in-out;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
}

.Navbar h1 {
  padding-left: 10px;
  color: var(--clr-wheat);
}

.Navbar ul {
  display: flex;
  margin-left: auto;
  /* margin-right: auto; */
  list-style: none;
  padding-left: 10px;
}

.Navbar ul li {
  padding: 0 10px;
  font-size: 1.75rem;
}

.Navbar ul li a {
  background-color: rgb(160, 141, 141);
  padding: 10px;
  color: var(--clr-black);
  border-radius: 5px;
}

.Navbar ul li a:hover {
  background-color: rgba(160, 141, 141, 0.75);
}
