.ChooseRoom h2,
.ScoreContainer h2,
.ChatContainer h2 {
  color: var(--clr-wheat);
  margin: 20px 15px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  border-bottom: 2px solid var(--clr-darkpink);
}

.Option {
  margin: 15px;
}

.Option h3 {
  color: var(--clr-darkpink);
  margin: 10px 0;
  font-weight: bold;
  font-size: 1.65rem;
}

.Option Input {
  height: 3rem;
  width: 100%;
  padding: 10px;
  font-size: 1.4rem;
  border: none;
  border-radius: 10px;
  background-color: var(--clr-wheat);
  outline: none;
}

.Option Select {
  height: 3rem;
  width: 100%;
  font-size: 1.4rem;
  border: none;
  border-radius: 10px;
  background-color: var(--clr-wheat);
  outline: none;
}

.FetchButton {
  margin: 20px auto;
  background: var(--clr-black);
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
  width: 50%;
  cursor: pointer;
}

.FetchButton p {
  color: var(--clr-wheat);
}

.Scores {
  margin: 15px;
}

.Scores {
  list-style: none;
}

.Scores li {
  color: var(--clr-wheat);
  margin: 10px 0;
  font-size: 1.5rem;
}

.ScoreContainer button {
  background-color: var(--clr-black);
  color: var(--clr-wheat);
  padding: 10px;
  margin: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}

.ScoreContainer button:hover {
  background-color: var(--clr-wheat);
  color: var(--clr-black);
}

.InputContainer {
  margin: 15px;
  display: flex;
}

.InputContainer textarea {
  height: 2.5rem;
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--clr-wheat);
  outline: none;
}

.InputContainer button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 2.5rem;
  padding-top: 5px;
  width: 50px;
  background-color: var(--clr-black);
  color: var(--clr-wheat);
  font-size: 1.35rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.InputContainer button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.MessageContainer {
  margin: 15px 10px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* for opera, chrome and safari */
.MessageContainer::-webkit-scrollbar {
  display: none;
}

.Message {
  margin: 10px 0;
  padding: 15px;
  background-color: rgb(245, 222, 179, 0.1);
  border-radius: 10px;
}

.Message h4 {
  font-size: 1.25rem;
  font-weight: bolder;
  margin: 5px 0;
  color: var(--clr-darkpink);
}

.Message p {
  color: var(--clr-wheat);
}

.hide {
  display: none;
}
