@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  --clr-black: #000000;
  --clr-bluish-dark: #342056;
  --clr-blue: #4848b1;
  --clr-orangered: #962710;
  --clr-wheat: #f5deb3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-color: var(--clr-bluish-dark);
}
